body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, lightgreen, lightblue);
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
}

.heading {
    text-align: center;
    font-size: 35px;
    margin-top: 30px;
}

.message {
    text-align: center;
}

.notes {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    margin: 20px;
    margin-top: 60px;
    gap: 40px;
}

.note {
    resize: none;
    height: none;
    background-color: rgba(255, 255, 255, .1);
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    border-radius: 15px;
    padding: 20px;
    outline: none;
    color: darkblue;
    font-size: 17px;
    box-sizing: border-box;
    transition: all 3ooms ease;
}

.note:hover,
.note:focus {
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.note::placeholder {
    color: gray;
    opacity: .5;
}

.btn {
    height: 250px;
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .3);
    font-size: 70px;
    font-weight: 700;
    color: rgba(0, 0, 0, .4);
    border-color: rgba(255, 255, 255);
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(255, 255, 255, .54);
    color: rgba(0, 0, 0, .6);
    transition: all 300ms ease;
}